@charset "ISO-8859-1";


#ttag {
  align: center;
  border-collapse: collapse;
  width: 70%;
  padding: 8px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px 15px 15px 15px;
}

#ttag td {
  border: 3px solid #008080;
  padding: 0px;
}

#ttag th {
  border: 3px solid #005555;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  border-color: #008080;
  text-align: left;
  background-color: #008080;
  color: white;
}

div.tablepadding {
background-color: #ffffff;
padding: 8px;
color: #000000;
}

div.good {
background-color: #00a800;
padding: 8px;
color: white;
}

div.moderate {
background-color: #dddd00;
color: white;
padding: 8px;
}

div.unhealthyx {
background-color: #ff8000;
color: white;
padding: 8px;
}

div.unhealthy {
background-color: #ff0000;
color: white;
padding: 8px;
}

div.veryunhealthy {
background-color: #b700b7;
color: white;
padding: 8px;
}

div.hazardous {
background-color: #8a008a;
color: white;
padding: 8px;
}

.o {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 30px;
}

.button {
  background-color: #0073e6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 20px 4px 28px 0 rgba(5, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.80);
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonx {
  background-color: white; 
  color: black; 
  border: 2px solid white;
}

.buttonx:hover {
  background-color: #0073e6;
  color: white;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-image: url("bgimg.jpg");
  height: 10%;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  color: #ffffff;
  font-size: 26px;
}

div.text {
  color: #ffffff;
  font-size: 18px;
   text-align: left;

}
div.texth {
  color: #ffffff;
  font-size: 25px;
   text-align: center;
   font-weight: bold;
}

h1 {
  color: #ececff;
  margin-left: ;
  margin-right: ;
  font-weight:bold;
}

div.panel {
  border-radius: 15px 15px 15px 15px;
  max-width: 910px;
  width: 95%;
  text-align: left;
  margin:0 auto;
  box-shadow: 0px 4px 28px 0 rgba(5, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align:center;
}

div.header {
  padding: 5px;
  margin-top: 50px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  font-weight:bold;
  background-color: #008080;
  color: white;
  text-shadow: 0 0 10px #000000;
  font-size:30px;
  opacity: .8;
  filter: alpha(opacity=30); 
}

div.container {
  padding-left: 	30px;
  padding-right: 	30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #00aaaa;
  color: #ffffff;
  text-shadow: 0 0 6px #000000;
  opacity: 0.8;
  filter: alpha(opacity=30); 
}

div.footer {
  padding: 15px;
  border-radius:  0px 0px 15px 15px;
  background-color: #000000;
  color: #ffffff;
  text-shadow: 0 0 6px #000000;
  opacity: 0.5;
  text-align: center;
  filter: alpha(opacity=90); 
  margin-bottom: 20px; 
}

div.ppanel {
  border-radius: 15px 15px 15px 15px;
  max-width: 910px;
  width: 95%;
  margin:0 auto;
  box-shadow: 0px 4px 28px 0 rgba(5, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align:center;
}

div.pfooter {
  padding: 30px;
  border-radius:  15px 15px 15px 15px;
  background-color: #000000;
  color: #ffffff;
  text-shadow: 0 0 6px #000000;
  opacity: 1;
  filter: alpha(opacity=90);
  margin-bottom: 20px; 
  margin-top: 0px;
}
