@charset "ISO-8859-1";

#progress {
  width: 100%;
  background-color: #ddd;
  display: none;
  opacity: 0.7;
}

#bar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

table {
  align: center;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 570px;
  max-height: 10px;
  border: 6px solid #008080;
  border-radius: 9px;
  border-spacing: 0px;
  background-color: white;
}

td {
  border: 1px solid #008080;
  padding: 0px;

}

th {
  border: 1px solid #005555;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #008080;
  text-align: left;
  background-color: #008080;
  color: white;
}

.tablepadding {
background-color: #ffffff;
padding: 8px 2px;
color: #000000;
}

.good {
background-color: #00a800;
padding: 8px 3px;
color: white;
text-shadow: 0 0 1px #000000;
}

.moderate {
background-color: #dddd00;
color: white;
padding: 8px 3px;
text-shadow: 0 0 1px #000000;
}

.unhealthyx {
background-color: #ff8000;
color: white;
padding: 8px 3px;
text-shadow: 0 0 1px #000000;
}

.unhealthy {
background-color: #ff0000;
color: white;
padding: 8px 3px;
}

.veryunhealthy {
background-color: #b700b7;
color: white;
padding: 8px 3px;
}

.hazardous {
background-color: #8a008a;
color: white;
padding: 8px 3px;
}

.o {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 7px;
}

.oo {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 7px;
}

.button {
  background-color: #0073e6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 20px 4px 28px 0 rgba(5, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.80);
  transition-duration: 0.1s;
  border: 2px solid #0073e6;
}

.buttonx {
  background-color: white;
  color: black;
  border: 2px solid #008080;
}

.buttonx:hover {
  background-color: #0073e6;
  color: white;
  border: 2px solid #0073e6;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-image: url("bgimg.jpg");
  height: 10%;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  color: #ffffff;
  font-size: 26px;
}

.text {
  color: #ffffff;
  font-size: 18px;
  text-align: justify;
}

.texth {
  color: #ffffff;
  font-size: 25px;
   text-align: center;
   font-weight: bold;
}

h1 {
  color: #ececff;
  margin-left: ;
  margin-right: ;
  font-weight:bold;
  font-size:4vw;
}

.title {
  width: 100%;
  max-width: 800px;
  max-height: 80px;
  font-size: 53px;
  padding-left: 	0px;
  padding-right: 	0px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 0px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.panel {
  border-radius: 15px 15px 15px 15px;
  width: 98%;
  text-align: left;
  margin:0 auto;
  box-shadow: 0px 4px 28px 0 rgba(5, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align:center;
  max-width: 830px;
}

.ppanel {
  border-radius: 15px 15px 15px 15px;
  width: 98%;
  margin:0 auto;
  box-shadow: 0px 4px 28px 0 rgba(5, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align:center;
  max-width: 830px;
}

.header {
  padding: 5px;
  margin-top: 50px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  font-weight: bold;
  background-color: #008080;
  color: white;
  text-shadow: 0 0 10px #000000;
  opacity: .8;
}

.container {
  padding-left: 	30px;
  padding-right: 	30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #00aaaa;
  color: #ffffff;
  text-shadow: 0 0 5px #000000;
  opacity: 0.8;
}

.tcontainer {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius:  15px 15px 15px 15px;
  background-color: #000000;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 20px;
  margin-top: 0px;
}

.footer {
  padding: 15px 0px;
  border-radius:  0px 0px 15px 15px;
  background-color: #000000;
  color: #ffffff;
  text-shadow: 0 0 6px #000000;
  opacity: 0.5;
  text-align: center;
  margin-bottom: 20px;
}

.pfooter {
  padding: 30px;
  border-radius:  15px 15px 15px 15px;
  background-color: #000000;
  color: #ffffff;
  text-shadow: 0 0 6px #000000;
  opacity: 1;
  margin-bottom: 20px;
  margin-top: 0px;
}

.applink {
  color: white;
  text-align: center;
  margin: auto;
}

a:link {
  color: white;
}

a:hover, a:active {
  color: teal;
  font-size: 18px;
}


@media screen and (max-width: 600px) {

  .title {
    font-size: 33px;
  }

  .tcontainer {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  table {
    border: 6px solid #000000;
  }

  td {
    border: 1px solid #000000;
    padding: 0px;
  }

  th {
    border: 1px solid #005555;
    padding-top: 8px;
    padding-bottom: 8px;
    border-color: #000000;
    text-align: center;
    background-color: #000000;
    color: white;
    height: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .applink {
    color: white;
    text-align: center;
    margin: auto;
    visibility: hidden;
    height: 0px
  }

  .pfooter {
    padding: 30px 15px;
  }

  .texth {
    font-size: 20px;
  }

}
